{
    email {$EMAIL}
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

www.{$DOMAIN_ES}, www.{$DOMAIN_COM} {
	  redir https://{labels.1}.{labels.0}{uri}
}

{$DOMAIN_ES}, {$DOMAIN_COM} {
    tls internal
    root * /var/www/html
    php_fastcgi wordpress:9000
    file_server

    # Configure HSTS (HTTP Strict Transport Security)
    header Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

    # Turn off browser content sniffing
    header X-Content-Type-Options "nosniff"

    # Protect against clickjacking attacks
    header X-Frame-Options "DENY"

    # Protect against XSS attacks by enabling browser XSS safeguards
    header X-XSS-Protection "1; mode=block"
}